*, *::before, *::after {
    box-sizing: border-box;
}

body{
	font-family: 'Inter', sans-serif;
	margin: 0;
	
}

.container{
	max-width: 428px;
	margin: 0 auto;
	background-color: white;
	min-height: 100vh;
}

.hero{
	color: black;
	border-right: 1px solid gray;
	border-top: 1px solid gray;
	border-left: 1px solid gray;
	padding: 0em 0; 
	background-color: rgb(231, 241, 241);
}

.back-btn{
	color: #fff;
	font-size: 1.7em;
	padding-left: 1em;
}

.contact-info{
	padding: 4em 0.1em;
	border-bottom: 1px solid gray;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
}

.hero-info{
	display: flex;
	flex-flow: column;
	align-items: center;
    
}

.relationship{
	width: 5em;
	text-align: center;
	padding: .4em .5em;
	border-radius: 100px;
	border-top-left-radius: 0;
	margin: 0;
}

.friend{
	background-color: #75A85E;
}

.info-line{
	display: flex;
	color: black;
	width: 90%;
	margin: 0 auto;
	align-items: center;
	padding: 1em 2em;
	margin-top: 2em;
	border-radius: 20px;
	box-shadow:  6px 6px 12px rgb(241, 241, 241), 
             -6px -6px 12px rgb(241, 241, 241);
    border: 1px solid gray;
}

p{
	margin: 0;
	padding-left: 2em;
}



.edit-button{
	padding: 2.5em 3.5em;
	text-align: center;

}

.delete-button{
	padding-left: 86%;
	padding-bottom: 0;
}

.hero a img{

}


