*, *::before, *::after {
    box-sizing: border-box;
}

body{
	font-family: 'Inter', sans-serif;
	margin: 0;
}

.container{
	max-width: 428px;
	margin: 0 auto;
	background-color: whitesmoke;
	min-height: 100vh;
}

a{
	text-decoration: none;
}



.hero a i{
	margin-left: 10px;
	color: white;
}

.back-btn{
	color: #fff;
	font-size: 1.7em;
	padding-left: 1em;
}

.contact-info{
	background-color:white;
	padding: 3em 1.5em;
}

.hero-info h3{
	color: white;
	text-align: center;
}
.hero-info img{
	display: flex;
	flex-flow: column;
	align-items: center;
	width: 100%;
	height: 150px;
	margin-top: 0px;
}

.hero-info h1{
	text-align: center;
	color: black;
}

.hero-info h3{
	color: black;
}

.info-line{
	display: flex;
	color: black;
	width: 90%;
	margin: 0 auto;
	align-items: center;
	padding: 1em 2em;
	margin-top: 2em;
    border-radius: 20px;
}

.info-line input{
	width: 100%;
	margin: 10px 0;
	box-sizing: border-box;
	border: none;
	outline: none;
	border-bottom: 2px solid gray;
	transition: 0.2s;
}

.type{
	border: none;
	background: none;
	padding-left: 2em;
	font-size: 1.2em;
	color: black;
	outline: none;
}

.button-container{
	background-color: whitesmoke;
	padding: 2em 3.2em;
}

.update-contact{
	display: flex;
	color: black;
	width: 90%;
	margin: 0 auto;
	align-items: center;
	padding: 1em 2em;
	border-radius: 20px;
}

.update-contact input{
	
	color: blue;
}


.button{
	background-color: blue;
	border: none;
	color: blue;
	font-size: rgb(160, 160, 160);
	padding-left: 1.5em;
	outline: none;
	cursor: pointer;
}